#Copyright 2024 Google LLC.
#SPDX-License-Identifier: Apache-2.0
#!/bin/bash
exec 5> startup_script_deb.txt
BASH_XTRACEFD="5"
PS4='$LINENO: '
set -x
export DEBIAN_FRONTEND=noninteractive
#mv /etc/apt/sources.list /etc/apt/sources.list.old
#echo "deb https://packages.cloud.google.com/apt debian-buster-mirror main" > /etc/apt/sources.list
apt-get update
apt-get tcpdump dnsutils --no-install-recommends
cat <<EOF > /etc/skel/.bash_aliases
alias startuplog='sudo journalctl -u google-startup-scripts.service'
alias ll=​'ls -alh'
EOF