#Copyright 2025 Google LLC.
#SPDX-License-Identifier: Apache-2.0
#!/bin/bash
exec 5> startup_script_deb.txt
BASH_XTRACEFD="5"
PS4='$LINENO: '
set -x
cat <<EOF > /etc/skel/.bash_aliases
alias startuplog='sudo journalctl -u google-startup-scripts.service'
alias ll='ls -lh'
EOF
cat /etc/skel/.bash_aliases >> /root/.bashrc
export DEBIAN_FRONTEND=noninteractive
apt-get update
apt-get install apache2 mtr dnsutils tcpdump -y
a2ensite default-ssl
a2enmod ssl
HOSTNAME="$(curl -H "Metadata-Flavor:Google" http://metadata.google.internal/computeMetadata/v1/instance/name)"
echo "Page served from: $HOSTNAME" | tee /var/www/html/index.html
chkconfig httpd on || systemctl enable httpd || systemctl enable apache2
service httpd restart || systemctl restart httpd || systemctl restart apache2