#Copyright 2024 Google LLC.
#SPDX-License-Identifier: Apache-2.0
#!/bin/bash
exec 5> startup_script_deb.txt
BASH_XTRACEFD="5"
PS4='$LINENO: '
set -x
export DEBIAN_FRONTEND=noninteractive
apt-get remove -y --purge man-db
apt-get install -y dnsutils tcpdump lsof netcat
cat <<EOF > /etc/skel/.bash_aliases
alias startuplog='sudo journalctl -u google-startup-scripts.service'
alias ll='ls -lh'
alias lal='ls -lah'
EOF
cat <<EOF > /usr/local/share/ca-certificates/swp-host.crt
${swp-host-ca}
EOF
cat <<EOF > /usr/local/share/ca-certificates/swp-tls-inspect.crt
${swp-tlsinsp-ca}
EOF

echo "https_proxy=${swp-fqdn}" >> /etc/environment